/* this code only for the adminotp login page  */

.adminotp-section .adminotp-container{
    max-width: 1130px;
    margin: 0 auto;
}

.adminotp-section .image-col img{
    background: transparent;
    border: none;
    width: 100%;
}
.adminotp-section .form{
    padding: 60px 30px;
    background: var(--bg-2);
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    height: 100%;
    margin: 0 auto;
}
.adminotp-section .image-col{
    background: var(--bg-2);
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 2px 10px hsla(0, 0%, 0%, 25%);
}
.adminotp-section  h2{
    font-family: var(--secondry-font);
    font-weight: 700;
}
.adminotp-section p{
    color: #00000080;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--secondry-font);
}
.adminotp-section .input-group{
    padding: 16px 3px;
    background: var(--bg-3);;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
   
}
.adminotp-section .form-control{
    padding-left: 0px;
}
.adminotp-section .form-control,
.adminotp-section .input-group-text{
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    font-family: var(--secondry-font);
    font-weight: 400;
}
.adminotp-section .input-group-text{
    font-size: 18px;
}
.adminotp-section .form-control:focus {
    outline: none;
    box-shadow: none;
}
.adminotp-section .login-button{
    font-size: 24px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--btn-bg-2);
    width: 100%;
    display: block;
    text-align: center;
    padding: 16px 0;
    border-radius: 5px;
    margin-top: 10px;
    font-family: var(--secondry-font);
    font-weight: 700;
}
.adminotp-section .login-button:hover{
    background:#8ac700;
}
.adminotp-section .form-check-input{
    font-size: 16px;
    margin-right: 10px;
    border-radius: 0px;
    border: 1px solid #00000060;
}
.adminotp-section .form-check{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.adminotp-section  .form-check-label{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--secondry-font);
}

/**********frontend adming loging page  responsive css code here  ************/


@media screen and (max-width: 576px) {
    .adminotp-section .form {
        padding: 40px 20px !important;
    }
}
