
/*====== Global varriable ====== */
:root{
  --primary: #DEEBCF;
  --secondery: #C2E7FC;
  --bg: #EEEEEE;
  --text: #000;   
  --btn_bg: #2581B8;
  --white: #fff;
  --green: #35A854;
  --primary_heading_size: 24px;
  --text_size: 20px;
  --secondry-font: "Poppins", sans-serif; 
  --commoninner_bg: #D9D9D922;

  /* Adding this new global variable */
  --bg-2: #f4f4f4;
  --bg-3: #EAF1FB;
  --btn-bg-2: #7DB6E3;
}
/*====== Global btn varriable ====== */
.btn{
  padding: 0;
  border: none;
}
/*======== Global Typograpy ======*/
h2{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
body{
  font-family: "Inter", sans-serif;
}
.container{
  max-width: 1440px;
  padding: 0 30px;
}

